body{background:#FFFFFF;padding:0;margin:0;font-family:Arial, Helvetica, sans-serif;font-size:12px;}
ul,li,form{list-style-type:none;margin:0;padding:0;}
img{border:0;-ms-interpolation-mode:bicubic;}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
* html>body .clearfix{display:inline-block;width:100%}
* html .clearfix{/* Hides from IE-mac \*/ height:1%;/* End hide from IE-mac */ }
*+html .clearfix{min-height:1%}

body{ background:url(../images/Background.jpg);font-family:MicroSoft YaHei,simHei;}
.main{ width:1024px; margin:0 auto; position:relative;}
.main .top{ height:137px; background:url(../images/top2.png) no-repeat;}
.main .top .k{padding:34px 0 0 600px;color:#fff;font-size:20px;font-weight:bold;}
.main .wall{ height:631px;}
.main .left{ float:left;width:67px; height:631px;background:url(../images/left.png) no-repeat;}
.main .right{ float:right;width:67px; height:631px;background:url(../images/right.png) no-repeat;}
.main .center{ float:left; width:890px; background:#FCF9F8;}
.main .list{ height:569px; padding-left:4px; overflow:hidden;}
.main .footer{height:5px;background:url(../images/footer.png) no-repeat;}
.list li{ float:left; display:inline; margin:2px 0 6px; width:883px; background:#73AE1F url(../images/libg.png) repeat-y;display:none;}
.list li .pic{ float:left; padding:30px 14px 0 13px;}
.list li .pic img{ background:#E8E8E8; border:#4E9B86 1px solid; padding:3px; font-size:0;}
.list li .c{ float:left; width:736px; color:#FFFFFF;}
.list li .c span{ color:#C8FB80;}
.list li .num{color:#fff;text-align:right;}
.m1{float:left;width:883px;padding-bottom:13px;background:url(../images/m2.png) left bottom no-repeat;}
.m2{float:left;width:883px;min-height:155px;padding-bottom:13px;background:url(../images/m1.png) left top no-repeat;}
.f5{padding-top:10px;font-size:22px;line-height:1.5em;}
.f4{padding-top:10px;font-size:26px;line-height:1.5em;}
.f3{padding-top:12px;font-size:32px;line-height:1.6em;}
.f2{padding-top:20px;font-size:40px;line-height:1.6em;}
.f1{padding-top:36px;font-size:50px;line-height:1.6em;}

#explan{width:892px;height:570px;background:#8FBE4C;position:absolute;top:136px;left:66px;}
#explan p{color:#fff;font-size:42px;padding:100px 0 0 42px;line-height:1.8em;}

.mone{width:883px;position:absolute;top:136px;left:71px;background:#73AE1F url(../images/libg.png) repeat-y;display:none;}
.mone .pic{float:left;padding:30px 14px 0 13px;}
.mone .pic img{background:#E8E8E8;border:#4E9B86 1px solid; padding:3px; font-size:0;}
.mone .c{float:left;width:736px;color:#FFFFFF;}
.mone .c span{color:#C8FB80;}
.mone .m2{height:544px;}
.mone .num{position:absolute;right:5px;bottom:0;color:#fff;}